<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/raspbies">List of Raspbies</a></li>
    <li><a href="/users">List of users</a></li>
    <li><a href="/raspbies/newraspbie">Record a new raspbie</a></li>
     <li><a href="/users/newuser">Record a new user</a></li>
  </ul>
</nav>