<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <% include partials/nav %>
    <h1><%= title %></h1>
    <form name="newuser" method="post" action="/users">
      <input type="text" name="username" placeholder="username"><br>
      <input type="text" name="firstname" placeholder="first"><br>
      <input type="text" name="lastname" placeholder="last"><br>
      <input type="submit" value="Add User">    
    </form>
    </h2>
  </body>
</html>