<!DOCTYPE html>
<html lang="en">
  <head>
  
  </head>
  <body>
   <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
   <script>

  function messbie(valeur) {
    io=io.connect('http://localhost:3001');
    io.emit('play', valeur);
    return false;
  }
</script>
    <% include partials/nav %>

    <h1><%= title %></h1>

    <ul>
      <% raspbies.forEach(function(raspbies) { %>
        <li><%= raspbies.username %> said  <u onClick="messbie('<%= raspbies.rasPath %>');"><%= raspbies.rasTitle %></u></li>
      
      <% }); %>
    </ul>

  </body>
</html>